{% extends "todo/index.html" %}

{% block content %}
{% if todo %}
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Confirm delete</p>
        <form method="post" action="{% url 'todo:delete' todo.id %}">
            {% csrf_token %}
            <input type="hidden" value="{{ todo.id }}">
            <button type="submit">Delete</button>
        </form>
    </div>
</div>
{% else %}
<h3>An error occured</h3>
{% endif %}
{% endblock %}